/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2020, 2:49:45 PM
    Author     : EDGAR
*/



input[type=button], input[type=submit], role[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.botones{
background-color: #4CAF50;
 text-decoration: none;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    background: rgb(0, 47, 89);
}



.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}





h1 {

    font-size: 100px;

}



html {
	height: 100%;
	/* max-height: 600px; */
	width: 700px; /*Tamaño general*/
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url(''), /*primer capa*/
		url('https://cdn.pixabay.com/photo/2016/08/17/22/22/pow-1601674_960_720.png'), /*segunda capa*/
		url('https://i.redd.it/a7cm878ps5t41.png'), /*tercer capa*/
		url('https://previews.123rf.com/images/vectora/vectora1504/vectora150400035/38422872-punteado-pop-art-background-pop-art-pattern-antecedentes-simb%C3%B3licos-del-arte-de-los-a%C3%B1os-sesenta-.jpg'), /*este es el fondo*/
		url(''); 
	background-repeat: repeat-x;
	background-position: 
		0 200%,
		0 100%,
		0 100%,
		0 50%,
		0 0;
	background-size: 
		8000px,
		800px,
		500px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			800px 0;
		}
	}